<div [@routerTransition]>
    <app-page-header [heading]="'Document Review'" [icon]="'fa-edit'">
    </app-page-header>
    <br>
    <div class="container">
        <div class="mat-elevation-z8">
            <div class="card-header">ข้อมูลแสดงรายการลูกค้า</div>
            <mat-table [dataSource]="listData" matSort>
                <mat-header-row *matHeaderRowDef="displayedColumn"></mat-header-row>
                <mat-row *matRowDef="let row; columns:displayedColumn;"></mat-row>
                <ng-container matColumnDef="Options">
                    <mat-header-cell *matHeaderCellDef>Options</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button mat-icon-button (click)="onEdit(row)">
                            <mat-icon>border_color</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="onDelete(row.DepartmentID)">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="DepartmentID">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>DepartmentID</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{ element.DepartmentID }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="DepartmentName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>DepartmentName</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{ element.DepartmentName }}</mat-cell>
                </ng-container>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>

</div>
