table {
    width: 100%;
}

.card-header {
    color: white;
    background-color: #595957;
}

mat-table {
    font-size: 8px;
    font-family: AP-Regular;
    color: #1a084c;
    overflow: auto;
}

// .mat-column-remainingtotalamount{
//     text-align: right;
//     justify-content: flex-end;
// }

// .mat-column-tf01_appv_flag{
//     text-align: right;
//     justify-content: flex-end;
// }

mat-header-cell {
    font-size: 13px;
    font-family: AP-Bold;
    background-color: gray;
    color: white;
    overflow: auto;
}

mat-cell {
    font-size: 12px;
    font-family: AP-Regular;
}
