<div class="d-flex justify-content-between m-3">
    <h4>Final Confirm Document (AC)</h4>
    <button mat-button (click)="onClose()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div class="container">

<div style="overflow: auto; height: 450px;">
    <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">

        <div class="m-3 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Refund ID</span>
            </div>
            <input readonly="readonly" type="text" class="form-control" name="hyrf_id" #hyrf_id="ngModel"
                [(ngModel)]="service.formData.hyrf_id">
        </div>

        <div class="m-3 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Modify By</span>
            </div>
            <input readonly="readonly" type="text" class="form-control" name="tf01_appv_by" #tf01_appv_by="ngModel"
                [(ngModel)]="service.formData.tf01_appv_by">
        </div>

        <div class="m-3 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Status</span>
            </div>
            <mat-radio-group aria-label="Select an option" class="form-control" name="tf01_appv_flag"
                #tf01_appv_flag="ngModel" [(ngModel)]="service.formData.tf01_appv_flag">
                <mat-radio-button value="R">Reject</mat-radio-button>
                <mat-radio-button value="A">Approve</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="m-3 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Remarks</span>
            </div>
            <input type="text" class="form-control" name="tf01_remarks" #tf01_remarks="ngModel"
                [(ngModel)]="service.formData.tf01_remarks">
        </div>

        <button class="m-3" mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Update
            Employee</button>

    </form>
</div>

</div>

