<div [@routerTransition]>
    <app-page-header [heading]="'Document Review by Accounting'" [icon]="'fa-edit'">
    </app-page-header>
    <div class="container">
        <div class="mat-elevation-z8">
            <div class="card-header">ข้อมูลแสดงรายการ อนุมัติ 4 เรียบร้อยแล้ว</div>
            <label>&nbsp;&nbsp;&nbsp;&nbsp; </label>
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
            <mat-table [dataSource]="listData" matSort>
                <mat-header-row *matHeaderRowDef="displayedColumn"></mat-header-row>
                <mat-row *matRowDef="let row; columns:displayedColumn;"></mat-row>
                <ng-container matColumnDef="project">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Project Name</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{ element.productid }}:{{ element.project}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="unitnumber">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Unit</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{ element.unitnumber}}</mat-cell>
                </ng-container>

                <!-- <ng-container matColumnDef="contractnumber">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>contractnumber</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{ element.contractnumber}}</mat-cell>
                </ng-container> -->

                <ng-container matColumnDef="transferdateapprove">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>TransferDate</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{ element.transferdateapprove | date:'dd/MM/yy'}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="fullname">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Customer</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{ element.fullname}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="remainingtotalamount">
                    <mat-header-cell *matHeaderCellDef mat-sort-header  style="direction: rtl">Refund Amount</mat-header-cell>
                    <mat-cell *matCellDef="let element"  style="direction: rtl">{{ element.remainingtotalamount | number : '1.2-2'}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="approvedate4">
                    <mat-header-cell *matHeaderCellDef mat-sort-header  style="direction: rtl">Appv#4 Date</mat-header-cell>
                    <mat-cell *matCellDef="let element"  style="direction: rtl">{{ element.approvedate4text }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="approve4by">
                    <mat-header-cell *matHeaderCellDef mat-sort-header >Appv#4 by</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{ element.approve4by}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="refundstatus">
                    <mat-header-cell *matHeaderCellDef mat-sort-header  style="direction: rtl">Last Status</mat-header-cell>
                    <mat-cell *matCellDef="let element"  style="direction: rtl">{{ element.refundstatus }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="Info">
                    <mat-header-cell *matHeaderCellDef>Info</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <!-- <button mat-icon-button (click)="onView(row)">
                            <mat-icon>zoom_in</mat-icon>
                        </button> -->
                        <button mat-icon-button (click)="onPrintPdf(row)">
                            <mat-icon>local_printshop</mat-icon>
                        </button>
                        <button mat-icon-button (click)="onViewMemo(row.transfernumber, row.hyrf_id)">
                            <mat-icon>message</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[10, 30, 50]" showFirstLastButtons></mat-paginator>
        </div>
    </div>

</div>
